input.number { width: 50px; }
input.team { width: 150px; }
input.name { width: 270px; }

body.top {  background-color: rgb(238, 238, 238) }
body.calc1 {  background-color: rgb(209, 255, 222) }
body.calc2 {  background-color: rgb(209, 232, 162) }
body.calc3 {  background-color: rgb(255, 242, 191) }
body.calc4 {  background-color: rgb(232, 214, 187) }
body.calc6 {  background-color: rgb(255, 205, 203) }
body.grouping {  background-color: rgb(238, 238, 238) }

label, input[type='checkbox'] {
  cursor: pointer;
}